body {
  background: black;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  border-left: 3px solid blue;
  border-right: 3px solid blue;
  border-top: 5px solid blue;
  text-align: center;
  height: 400px;
  padding: 20px;
}

header a {
  color: white;
  text-transform: uppercase;
  text-decoration: underline;
  margin-top: 40px;
}

header .myphoto {
  border: 3px solid blue;
  border-radius: 50%;
  margin: 10px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
}

h1 {
  font-size: 200%;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 200%;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
}

.about-me {
  background-color: blue;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  margin: auto;
  text-align: center;
  padding: 20px;
}

.about-me-text {
  font-size: 180%;
}

.mainproject {
  border-left: 3px solid blue;
  border-right: 3px solid blue;
  padding: 20px;
}

.mainproject figure {
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  width: auto;
}

.mainproject figure img {
  border: 3px solid blue;
  border-radius: 50%;
}

.hoverpic:hover {
  border: 5px solid red;
}

a:hover {
  color: red;
}

@media screen and (max-width: 590px) {
  .mainproject figure img {
    height: 100%;
    width: 100%;
  }
}

.projects {
  background: black;
  border-left: 3px solid blue;
  border-right: 3px solid blue;
  color: white;
  display: flex;
  flex-direction: row;
  padding: 20px;
  /* height: 100px; */
  /* width: 100px; */
}

.projects figure {
  margin: auto;
  text-align: center;
  /* width: 200px; */
}

.projects figure img {
  border: 3px solid blue;
  border-radius: 10%;
  width: 300px;
  height: 250px;
}

@media screen and (max-width: 880px) {
  .projects {
    display: block;
  }
}

.contact-me {
  background-color: blue;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  text-align: center;
}

.contact li {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

.contact a {
  color: white;
}

.contact a:hover {
  color: red;
  text-transform: uppercase;
}

footer {
  background: black;
  border-left: 3px solid blue;
  border-right: 3px solid blue;
  border-bottom: 3px solid blue;
  color: white;
  font-size: 14px;
  padding: 20px;
  text-align: center;
}
